* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

.contact--general0 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px;
    background-color: #e3e7ec;
    -webkit-box-shadow: 0px -2px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 20px 3px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 20px 3px rgba(0,0,0,0.75);
}

.a-2 {
    grid-column: 2/3;
    place-self: center center;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: blue;
    letter-spacing: 3px;
    font-size: 20px;
}

.a-2:hover {
    color: rgb(180, 0, 252);
    text-decoration: underline rgb(180, 0, 252);

}

.contact--general1 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px;
    height: 100%;
}

.contact--general1-img {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 200px;
    filter: contrast(1.2);
    place-self: center center;
}

.contact--general1-p {
    grid-row: 1/2;
    grid-column: 2/3;
    place-self: center center;
}